@media (min-width: 992px) {
   .global-header .header-logo a .logo{
	height: 80px !important;
    }
    .global-header .header-logo a .logo{
       margin: 0 !important;
    }
  .wrapper-preview-menu{
    margin-bottom: -80px !important;
  }
}
@media (max-width: 992px) {
   .main-header{
         justify-content: center !important;
  }
  .global-header .header-logo a .logo{
      margin: 5px 0 0 20%!important;
   }
  //:not(.courseware)>#content.content-wrapper{
  //  padding-top: 70px !important;
  //}
}

.settings-language-form{
   margin-top: 24px;
    margin-right: 26px;
}
.course-tittle{
    background-color: #372164;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-family: 'Oswald', sans-serif;
    margin:32px 0 0 0;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 20px;
}
.header-media{
     padding:0;
}
.header-media img{
	width:100%;
}
.header-media video{
        width:100%;
}

.main-header {
 display: flex;
 justify-content: space-between;
}
.global-header .header-logo a{
	margin: 0 0 0 15px !important;
}
.global-header .header-logo a .logo{
    float: unset !important;
}
.header-logo{
  margin:0 !important;
}
.main-header .nav-links{
  display:flex;
}
.global-header .nav-links .main{
      float: unset !important;
}
.global-header .nav-links .secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    float: unset !important;
    margin: 0 40px;
}
.help-link{
        display: none !important;
}
.courses-container .courses .course{
  border-bottom-color: $primary !important;
}
.find-courses .search-facets.phone-menu{
  display: none !important;
}
.find-courses .filters .clear-filters{
  color: $primary !important;
}
.find-courses .discovery-submit{
  background-color: $primary;
  border-color: $primary;
}
 .course-search .search-input:focus,.find-courses .discovery-input:focus{
   border-color: $primary !important;
 }
 .course-search .search-button{
   background-color: $primary !important;
   border-color: $primary !important;
 }
 .course-search .search-button:hover{
   color: $primary !important;
   background-color: #ffffff;
 }
 .continue-button a{
   color: $primary !important;
   border-color: $primary !important;
 }
 .continue-button a:hover,  .continue-button a:focus{
   color: #ffffff !important;
   background-color: $primary !important;
   border-color: $primary !important;
 }
 .global-header .header-logo .course-header{
   display: none !important;
 }
 .login-and-registration-container{
   display: none !important;
 }
 .course-view .page-header {
   min-width: 100% !important;
 }
 .course-view .page-header-main{
   margin-right: 16px !important;
 }
 .course-view .page-header .page-header-secondary{
   margin-left: 0 !important;
   margin-top: 16px !important;
 }
 //.preview-menu .btn .btn-primary .view-in-studio{
 //  margin-top: 20px;
 //}
 .wrapper-preview-menu .preview-actions .action-preview .action-preview-select{
   max-width: 148px !important;
 }
 .wrapper-preview-menu .preview-actions{
   flex-grow: 0 !important;
 }
 .wrapper-preview-menu {
   padding-top: 70px !important;
 }
 .wrapper-preview-menu .preview-menu{
   display: flex;
    align-items: center;
    max-width: 100% !important;
    justify-content: flex-start;
}
.content-wrapper{
  margin-left: 16px !important;
  margin-right: 16px !important;
  padding-bottom: 160px !important;
 }
.profile-uar-registry{
  width: 300px;
  background-color: #fff;
  border-top: 5px solid #0075b4;
  padding-bottom: 20px;
}
.profile-uar-registry .profile-uar-registry-first-row{
  max-width:80% !important;
  margin: 16px auto !important;
}
.profile-uar-registry .profile-uar-registry-snd-row{
  text-align:center;
}
.content-wrapper .course-tabs{
  overflow-x: auto !important;
  padding-bottom: 8px !important;
}

// Footer
.wrapper-footer{
   background-color: #eaecee !important;
    position: fixed;
    bottom: 0;
    width: 100% !important;
    min-height: 100px;
    box-shadow: none !important;
    border-top: none !important;
    padding: 1em 0 0 0 !important;
    z-index: 9999;
    max-width: 100%;
}
@media (min-width:992px){
	.wrapper-footer footer{
		margin:0 20px 0 48px !important;
	}
}
@media (max-width: 991px) {
  .wrapper-footer footer{
    margin:0 20px 0 20px !important;
  }
}
.wrapper-footer .wrapper-logo{
  display: block !important;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon{
            color: #767676;
            text-align: left;
}
.copyright{
	font-size: 0.6875em !important;
        color: #767676 !important;
        text-align: left !important;
}
.wrapper-footer footer#footer-openedx .colophon{
	margin:0;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
	margin:0;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    color: #372164 !important;
    font-weight: 500;
    font-size: 18px;
    text-decoration:none !important;
    border-bottom: none !important;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover{
	text-decoration:none !important;
	border-bottom: none !important;
}
.wrapper-footer footer .site-nav .nav-item .nav-link{
    color: #372164 !important;
    font-weight: 500;
    font-size: 18px;
    text-decoration:none !important;
    border-bottom: none !important;
}
.wrapper-footer footer .site-nav .nav-item .nav-link:hover{
	text-decoration:none !important;
	border-bottom: none !important;
}
.wrapper-footer footer#footer-openedx .colophon{
    width:auto;
}
.wrapper-footer .copyright{
	margin:0;
}
.wrapper-footer footer#footer-openedx .wrapper-logo a img{
    max-height: 80px !important;
    max-width: 90vw !important;
    width: auto !important;
}
.wrapper-footer footer#footer-openedx .wrapper-logo a{
  border:none !important;
}
// Course about
.course-info .container{
  display: flex !important;
  justify-content: space-between !important;
  min-width: 100% !important;
}
@media (max-width: 991px) {
  .course-info .container{
    flex-direction: column !important;
  }
}
.btn-default, .btn-primary, .btn-brand, .btn-upgrade{
  text-transform: unset !important;
}
