@media (min-width: 992px){
    .header-app .logo-img{
        height: 80px !important;
    }
}
.header-app .logo-img{
    width: auto !important;
    height: 40px;
}
.header-app .logo{
    margin: 0 !important;
}
