## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>
<footer role="contentinfo" class="footer d-flex px-2 uar-footer align-items-center py-2 bg-primary justify-content-between">
  <div class="container-fluid">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="d-flex flex-column">
        <div class="text-center">
          <img class="uar-footer-logo mb-4 mx-4" src="${static.url('uar-theme/images/logo_recoleta_bco.png')}" alt="Logo Recoleta"/>
        </div>
        <div class="text-center">
          <img class="uar-footer-logo mb-4 mx-4" src="${static.url('uar-theme/images/logo_uar_bco.png')}" alt="Logo UAR"/>
        </div>
      </div>
      <div class="d-flex flex-column text-white mt-4 mt-md-0">
        <div class="text-white uar-font-12p mb-2">Siguenos</div>
        <div class="text-white uar-font-12p">
          <a href="https://www.facebook.com/universidadabiertarecoletauar" target="_blank" class="uar-footer-rrss-link">
            <div class="uar-footer-icon-container uar-footer-icon-facebook"><i class="fab fa-facebook uar-footer-icon"></i></div>
            <div class="uar-footer-link-text">universidadabiertarecoletauar</div>
          </a>
        </div>
        <div class="text-white uar-font-12p">
          <a href="https://www.instagram.com/uderecoleta/" target="_blank" class="uar-footer-rrss-link">
            <div class="uar-footer-icon-container uar-footer-icon-instagram"><i class="fab fa-instagram uar-footer-icon"></i></div>
            <div class="uar-footer-link-text">@uderecoleta</div>
          </a>
        </div>
        <div class="text-white uar-font-12p">
          <a href="https://twitter.com/UdeRecoleta" target="_blank" class="uar-footer-rrss-link">
            <div class="uar-footer-icon-container uar-footer-icon-twitter"><i class="fab fa-twitter uar-footer-icon"></i></div>
            <div class="uar-footer-link-text">@UdeRecoleta</div>
          </a>
        </div>
        <div class="text-white uar-font-12p">
          <a href="https://www.youtube.com/c/UniversidadAbiertadeRecoleta" target="_blank" class="uar-footer-rrss-link">
            <div class="uar-footer-icon-container uar-footer-icon-youtube"><i class="fab fa-youtube uar-footer-icon"></i></div>
            <div class="uar-footer-link-text">UniversidadAbiertadeRecoleta</div>
          </a>
        </div>
        <div class="text-white uar-font-12p">
          <a href="https://www.linkedin.com/company/universidad-abierta-de-recoleta/" target="_blank" class="uar-footer-rrss-link">
            <div class="uar-footer-icon-container uar-footer-icon-linkedin"><i class="fab fa-linkedin uar-footer-icon"></i></div>
            <div class="uar-footer-link-text">universidad-abierta-de-recoleta</div>
          </a>
        </div>
        <div class="text-white uar-font-12p">
          <a href="https://open.spotify.com/show/0PhzkR5dKFBtyqLxTOBemX" target="_blank" class="uar-footer-rrss-link">
            <div class="uar-footer-icon-container uar-footer-icon-spotify"><i class="fab fa-spotify uar-footer-icon"></i></div>
            <div class="uar-footer-link-text">Universidad Abierta de Recoleta</div>
          </a>
        </div>
        <div class="font-weight-bold uar-font- mt-4 uar-font-15p">
          <span>Contacto: </span>
          <a class="text-white font-weight-bold uar-font uar-font-15p" href="mailto:info@uarecoleta.cl">info@uarecoleta.cl</a>
        </div>
      </div>
    </div>
  </div>
</footer>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
